<head>
    <%- include('head'); %>
</head>
<body>
<header>
    <%- include('header'); %>
</header>
<div id="wrapper">
    <div class="article">
        <h2 class="article-header"><%= posts[i].article %></h2>
        <div class="article-autor"><%= posts[i].autor %></div>
        <li class="article-post-time"><%= posts[i].date %></li>
        <p class="article-text"><%= posts[i].disc %></p>
    </div>
    <div class="comments">
        <% for(let i = 0; i < Math.min(posts[i].comments.length, 3); i += 1){ %>
            <div class="comment">
                <div class="data">
                    <img class="ava" src="/public/images/аватарки/ava1.jfif" alt="">
                    <span class="username"><%= posts[i].comments[i].autor %></span>
                    <span class="post-time"><%= posts[i].comments[i].date %></span>
                </div>
                <div class="text">
                    <%= posts[i].comments[i].text %>
                </div>
            </div>
        <% } %>
    </div>
</div>
<footer>
    <% -include('footer'); %>
</footer>
</body>